/* Sausage style */
.sausage-set {
position: fixed;
right: 0;
top: 0;
width: 15px;
height: 100%;
border-left: solid 2px #fff;
border-right: solid 2px #fff;
}
.sausage {
position: absolute;
left: 0;
width: 100%;
height: 100%;
background-color: #f1f1f1;
text-decoration: none;
-moz-border-radius: 8px;
-webkit-border-bottom-left-radius: 8px;
-webkit-border-top-left-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
-webkit-border-top-right-radius: 8px;
-moz-box-shadow: inset 0px 1px 2px 4px rgba(0, 0, 0, 0.025);
-webkit-box-shadow: inset 0px 1px 2px 4px rgba(0, 0, 0, 0.025);
}
.sausage-hover,
.sausage-current {
background-color: #edf6fa;
-moz-box-shadow: inset 0px 1px 2px 4px rgba(51, 63, 70, 0.025);
}
.sausage-span {
position: absolute;
left: -12px;
top: 5px;
z-index: 2;
display: none;
width: 15px;
height: 10px;
padding: 2px;
color: #888;
background-color: #fff;
border: solid 2px #b6d8ea;
font-size: 10px;
line-height: 10px;
font-weight: bold;
text-align: center;
-moz-border-radius: 7px;
-webkit-border-bottom-left-radius: 7px;
-webkit-border-top-left-radius: 7px;
-webkit-border-bottom-right-radius: 7px;
-webkit-border-top-right-radius: 7px;
-moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
-webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
}
.sausage-hover .sausage-span {
display: block;
}

/* nifty layout */
body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
/*	overflow-y: scroll;*/
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

/* custom */
.page {
padding: 20px;
margin-bottom: 40px;
}